<%= render 'layouts/header' %>
<section id="projects">
  <div class="container-fluid mt-5 pt-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Projects</h1>
      <div class="justify-content-end">
        <a href="<%= projects_path %>" class="btn btn-sm btn-dark mdb-color darken-3 text-white"><i class="fa fa-eye fa-lg text-white"></i>
          All Projects</a>
        
        <% if policy(Project).new? %>
          
          
          <a href="<%= new_project_path %>" class="btn btn-sm btn-dark mdb-color darken-3 text-white"><i class="fa fa-plus fa-sm text-white"></i>
            create new Project</a>
        
        
        <% end %>
      </div>
    </div>
    <% projects.each do |project| %>
      <div class="row mb-4">
        <a class="" href="<%= project_path project %>">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><%= project.title %></h4>
                <hr>
                <!-- Text -->
                <div class="fr-view">
                  <p class="card-text"><%= raw project.description %>
                  </p>
                </div>
              </div>
              <!-- Card footer -->
              <div class="rounded-bottom mdb-color darken-3  pt-3">
                <ul class="list-unstyled list-inline font-small">
                  <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i><b>Started</b>:
                    <%= project.created_at.to_date %>
                  </li>
                  <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-bug pr-1"></i><%= project.bugs.count %></a>
                  </li>
                  <li class="list-inline-item pr-2">
                    <a href="#" class="white-text"><i class="fa fa-empire pr-1"> </i><%=project.bugs.Resolved.count %></a></li>
                  <li class="list-inline-item"><a href="#" class="white-text"><i class="fa fa-user pr-1"> </i><%=project.enrolled_user.count %></a></li>
                </ul>
              </div>
            </div>
            <!-- Card -->
          </div>
        </a>
      </div>
    
    <% end %>
  </div>
  <!-- Content Row -->
</section>