<%= render 'layouts/header' %>
<section>
  <div class="container-fluid">
    <div class="container ml-lg-auto mr-lg-auto mt-lg-5 w-responsive w-75 p-lg-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'text-center border border-light p-5') do |f| %>
        <p class="h4 mb-4">Sign up</p>
        <%= f.text_field :full_name, autofocus: true, autocomplete: "first_name", placeholder: "Full Name", class: 'form-control mb-4' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: 'form-control mb-4' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control mb-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control mb-4" %>
        <%= f.select :role, options_for_select(User.roles.map {|key, value| [key.humanize, key]}, 0), {}, {:class => 'browser-default custom-select form-control mb-4'} %>
        <!-- Sign in button -->
        <%= f.submit "Sign Up", class: "btn btn-info btn-block my-4 mdb-color darken-3" %>
        <div>
          <!-- Forgot password -->
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
      <!-- Default form login -->
    </div>
  </div>
</section>
