<div class="card">
  <h5 class="card-header white-text mdb-color darken-3 text-left py-4">
    <strong>Project</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    
    <%= form_with(model: project, local: true, class: 'text-center') do |form| %>
      <div class="mb-4 mt-5">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Project Title' %>
      </div>
      <div class="md-form">
        <div class="mt-5 pt-5">
          <%= form.text_area :description, id: 'editor', class: 'form-control' %>
        </div>
        <label for="description">Project Description</label>
      </div>
      <div class="md-form">
        <div class="mt-5 pt-5">
          <%= form.fields_for :enrollments do |userform| %>
        
        
          <%= userform.select(:user, options_from_collection_for_select(user.where.not(:role=>'Manager').each_entry { |f| f.to_s.humanize  } ,"id", "full_name") ,{},options = {multiple: true, class: 'form-control'}) %>
        
          <% end %>
            </div>
        <label for="user">Participating Users</label>
      </div>
      
      <div class="md-form">
        <%= form.submit class: 'btn  btn-rounded mdb-color darken-3 white-text form-control' %>
      </div>
      <!-- Sign in button -->
    <% end %>
  </div>
</div>
<script>
    new FroalaEditor('#editor', {});
</script>