<%= render 'layouts/header' %>

<section>

  <div class="container-fluid">
    <div class="container ml-lg-auto mr-lg-auto mt-lg-5 w-responsive w-75 p-lg-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'text-center border border-light p-5') do |f| %>

        <p class="h4 mb-4">Sign in</p>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: 'form-control mb-4' %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control mb-4" %>

        <div class="d-flex justify-content-start">
          <div>
            <% if devise_mapping.rememberable? %>
              <div class="custom-checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me ,class:"d-inline-block"%>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Sign in button -->
        <%= f.submit "Sign in",class:"btn btn-info btn-block my-4 mdb-color darken-3" %>

        <div>
          <!-- Forgot password -->
          <%= render "devise/shared/links" %>
        </div>


      <% end %>
      <!-- Default form login -->



    </div>
  </div>

</section>

