<%= render 'layouts/header' %>
<section>
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-lg-9 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <h5 class="card-title"><%= @bug.title %></h5>
              </div>
              <div class="col-lg-4 grey-text">
                <h class="h5">Posted by: <%= @bug.posted_by.full_name %></h>
              </div>
            </div>
            <hr class="hr-dark"/>
            
            <p class="card-text"><%= raw @bug.description %></p>
            
            <% if @bug.images.attached? %>
              <div class="mt-3">
                <% @bug.images.each do |image| %>
                  <a href="<%= rails_blob_path(image) %>">
                    <div class="list-group-item mt-2">
                      <i class="fa fa-file blue-text mr-1"> <%= image.filename %></i>
                    </div>
                  </a>
                <% end %>
              </div>
            <% end %>
            <div class="float-right mt-3">
              <% if policy(@bug).destroy? %>
              <%= link_to [@project, @bug], method: :delete, data: {confirm: "Are you sure you want to delete this user?"}, class: "btn btn-responsive btn-default btn-sm mdb-color darken-3 " do %>
                <%= fa_icon "bitbucket" %> Delete
              <% end %>
                <% end %>
              <% if policy(@bug).edit? %>
              <%= link_to edit_project_bug_path(@project, @bug), class: "btn btn-responsive btn-default btn-sm mdb-color darken-3" do %>
                <%= fa_icon "pencil" %> Edit
              <% end %>
                <% end %>
            </div>
          
          
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header mdb-color darken-3 white-text">
            <h class="h4-responsive">Comments <i class="fa fa-comment"></i></h>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% if @bug.comments.count > 0 %>
                <% @bug.comments.each do |comment| %>
                  <li class="list-group-item p-1">
                      <span class="fa-stack fa-lg mr-1">
                      <i class="fa fa-user-circle fa-2x blue-text"></i>
                      </span><span class="purple-text"><%= comment.user.full_name %>
                    : </span><span> <%= comment.statement %></span>
                    <% if policy(comment).delete? %>
                    <span class="float-right grey-text">
                      
                      <span class="hoverable">
                    
                        <%= link_to [@bug.project, @bug, comment], method: :delete, data: {confirm: 'Are you sure?'} do %>
                        <i class="fa fa-trash"></i>
                        <% end %>
                        </span>
                    
                    
                    
                    </span>
                    <% end %>
                  </li>
                <% end %>
              
              <% end %>
              
              
              <% if policy(@bug.comments.new).create? %>
                <%= form_for([@project, @bug, @bug.comments.new]) do |form| %>
                  <li class="list-group-item p-1 mdb-color mt-2">
                      <span class="fa-stack fa-lg mr-1">
                      <i class="fa fa-user-circle fa-2x blue-text white border rounded rounded-circle flex-column"></i>
                      </span><span class="white-text"><%= current_user.full_name %>: </span>
                    <span class="d-lg-inline-block">
                    <%= form.text_field :statement, size: 80 %>
                      <%= form.submit class: 'mdb-color darken-3 white-text border-2' %>
                  </span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-3">
        <div class="card">
          <div class="card-header mdb-color darken-3 white-text">
            <h class="h4-responsive"> Bug Info</h>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <% if @bug.Bug? %>
                <i class="fa fa-bug fa-2x red-text">Bug</i>
              <% elsif @bug.Feature? %>
                <i class="fa fa-plus-circle fa-2x green-text">Feature</i>
              <% else %>
                <i class="fa fa-arrow-up fa-2x blue-text">Enhancement</i>
              <% end %>
            </li>
            <li class="list-group-item"><i class="fa fa-comment fa-2x"> comments: <%= @bug.comments.count %></i></li>
            <li class="list-group-item"><i class="fa fa-flag fa-2x green-text"> Taken:
              <% if @bug.assigned_to_id? %>
                <%= @bug.assigned_to.full_name %>
              <% else %>
                Not yet
              <% end %>
            </i></li>
            <li class="list-group-item">
              
              <i class="fa fa-clock-o  fa-2x red-text"> <%= @bug.deadline.to_formatted_s(:long) %></i>
            
            </li>
            <li class="list-group-item">
              
              <% if @bug.New? %>
                <i class="fa fa-circle fa-2x blue-text lighten-5 font-weight-bold"> New</i>
              <% elsif @bug.Started? %>
                <i class="fa fa-play-circle fa-2x blue-text lighten-5 font-weight-bold"> Started</i>
              <% else %>
                <i class="fa fa-stop-circle fa-2x blue-text lighten-5 font-weight-bold"> Resolved</i>
              <% end %>
            
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
